:root {
background: linear-gradient(110deg,#FFCC00 60%,  #FFFF00 60%);
}

* {
font-family: 'Gill Sans', sans-serif;
color: #1E1E1E;
}

body {
max-width: 900px;
margin: auto;
padding: 15px 15px 0 50px;
background-color: #FFFFFF;
font-size: 18pt;
border: 2px solid #1E1E1E;
box-shadow: 5px 5px 0 #1E1E1E;
}

.container {
background-color: #FFFFFF;
}

h1 {
font-size: 70pt;
}

h2 {
margin: auto;
font-size: 38pt;
}

li {
font-size: 20px;
padding: 15px 15px 0 50px;
position: relative;
margin-bottom: 0;
}

ul.a {
list-style-type: circle;
}

footer {
    margin-bottom: 50px;
}